<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/blog/categories">Categories</a></li>
  <li><a href="https://www.facebook.com/AndroidDev.mobi?fref=blog"><img src="{{ root_url }}/images/fb_logo_35x35.png" alt="Facebook Page" title="Facebook Page"></a></li>
  <li><a href="{{ root_url }}/atom.xml"><img src="{{ root_url }}/images/rss_logo_35x35.png" alt="RSS" title="RSS"></a></li>
</ul>
